This notebook provides the solution to the mismatching problem with dummy dataset.

In [1]:
import pandas as pd
import numpy as np

# dummy review table containing 4 reviews.
dummy_reviews = pd.DataFrame({
    "reviewText": ["review1", "review2", "review3", "review4"], 
    "score": [1, 5, 3, 4], 
    "vote": [10, 0, 15, 2]
})

dummy_reviews

  reviewText  score  vote
0    review1      1    10
1    review2      5     0
2    review3      3    15
3    review4      4     2

In [2]:
# dummy chunk table that contains less (3) reviews than the reivew table
dummy_chunks = pd.DataFrame({
    "argument_id": [0, 0, 0, 1, 1, 3, 3, 3, 3], 
    "chunk": ["chunk0_0", "chunk0_1", "chunk0_2", "chunk1_0", "chunk1_1", "chunk3_0", "chunk3_1", "chunk3_2", "chunk3_3"], 
    "topic": [-1, 0, 1, 1, 2, 1, 3, 3, 4]
})
dummy_chunks

   argument_id     chunk  topic
0            0  chunk0_0     -1
1            0  chunk0_1      0
2            0  chunk0_2      1
3            1  chunk1_0      1
4            1  chunk1_1      2
5            3  chunk3_0      1
6            3  chunk3_1      3
7            3  chunk3_2      3
8            3  chunk3_3      4

In [8]:
# dummy result list that has the same length as the number of reviews in chunks table
dummy_result = [0.9, 0.87, 0.93]

In [4]:
# The id of reviews mentioned in the chunk table
# This will be used as the index of assigning values to the review table
index = dummy_chunks["argument_id"].unique()
index

array([0, 1, 3])

In [7]:
dummy_reviews["result"] = np.nan
dummy_reviews.loc[index, "result"] = dummy_result
dummy_reviews

  reviewText  score  vote  result
0    review1      1    10    0.90
1    review2      5     0    0.87
2    review3      3    15     NaN
3    review4      4     2    0.93